.single_container {
  margin: 50px 0;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 0 250px;
}

@media (max-width: 500px) {
  .single_container {
    padding: 0 50px;
    flex-direction: column;
  }
}

.left_section {
  flex-basis: 50%;
  height: 700px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_section {
  flex-basis: 50%;
}

.title {
  margin-top: 15px;
  font-size: 30px;
}

.para {
  margin: 10px 0;
}

.price {
  font-size: 25px;
}

.category {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.category a {
  color: black;
}

.home_link a {
  margin-top: 15px;
  color: black;
}

.arrow_right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
